@import url('base.css');
@import 'theme.css';

body {
    color: #333;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#header {
    background: blue;
}

.btn:hover {
    opacity: 0.8;
}
